// spacing
$base-padding: 0.625rem;
$base-margin: 0.625rem;
$base-gap: 0.625rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 10px;

// box-shadow
$base-box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

// font sizes
$base-font-size: 1rem;
$base-font-size-xsm: $base-font-size * 0.75;
$base-font-size-sm: $base-font-size * 0.875;
$base-font-size-md: $base-font-size * 1.125;
$base-font-size-xmd: $base-font-size * 1.375;
$base-font-size-lg: $base-font-size * 1.5;
$base-font-size-xlg: $base-font-size * 2;
$base-font-size-xxlg: $base-font-size * 3.5;


// font weight
$base-font-weight: 100;
