@import "../../assets/scss/theme_color";
@import "../../assets/scss/variables";

.cta-button {
  background-color: $primary; // Button blue
  color: $text;
  border: none;
  padding: $base-padding $base-padding * 2;
  border-radius: 5px;
  font-size: $base-font-size-sm;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $secondary; // Darker blue for hover
  }
}
