.phone-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a1324; // Adjust the background color
    padding: 2rem 4rem;
    color: #ffffff;
    
    background-image: url('../../assets/images/Group\ 41.png'); 
    background-size: cover; // Ensures the image covers the entire section
    background-position: center; // Centers the image
    background-repeat: no-repeat; // No repetition
  
    .content {
      max-width: 50%;
  
      .title {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
  
        span {
          color: #4bcaff; // Highlight color
        }
      }
  
      .description {
        font-size: 1.1rem;
        line-height: 1.8;
        color: #dce7f7;
        margin-bottom: 1.5rem;
      }
    }
  
    .image-container {
      img {
        width: 100%;
        max-width: 400px;
        border-radius: 10px;
      }
    }
  }

  
  
  
    // Media query for smaller devices
  
  
  @media (max-width: 768px) {
    .phone-section {
      flex-direction: column;
      text-align: center;
      padding: 2rem;
  
      .content {
        max-width: 100%;
        margin-bottom: 2rem;
  
        .title {
          font-size: 2rem;
        }
  
        .cta-button {
          width: 100%;
        }
      }
  
      .image-container {
        img {
          max-width: 300px;
        }
      }
    }
  }
  