.community-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: #ffffff;
    background-image: url('../../assets//images/Group\ 26.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

    .title {
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            color: #4bcaff; 
        }
    }

    .reviews-count {
        font-size: 12px;
        margin-bottom: 1rem;
        color: #88a4d4;
        background-color: #06192c;
        border: 1px solid #142a42;
        width: max-content;
        padding: 10px;
        border-radius: 30px;

    }

    .testimonials {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.5rem;

        .testimonial-card {
            background: linear-gradient(145deg, #12273c, #0a1324);
            padding: 1.5rem;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease;

            &:hover {
                transform: translateY(-5px);
            }

            .profile-pic {
                width: 50px;
                height: 50px;
                margin: 0 auto 1rem;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .name {
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: 0.5rem;
            }

            .location {
                font-size: 1rem;
                color: #88a4d4;
                margin-bottom: 1rem;
            }

            .text {
                font-size: 0.95rem;
                line-height: 1.5;
                color: #dce7f7;
            }
        }
    }
}