.feature{
    padding: 35px;
    display: flex;
    justify-content: space-between;
    background-image: url('../../assets//images/Group\ 14.png'); // Replace with your image path
    background-size: cover; // Ensures the image covers the entire section
    background-position: center; // Centers the image
    background-repeat: no-repeat; // No repetition
    color: white;
    .left{
        display: flex ;
        flex-direction: column;
        gap: 20px;
        position: relative;
        width: 48%;
        
        h1{
            text-transform: uppercase;
            width: 60%;
        }
        p{
            width: 50%;
        }
        .leftimages{
          
            .img3{
                width: 150px;
                position: absolute;
                top: 20%;
                left: 70%;
                
            }
            .img2{
                width: 500px;
                position: absolute;
                
            }
        }
      
        
    }
    .right{
        padding: 20px;
        width: 48%;
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
          
        
            li{
                display: flex;
                flex-direction: column;
                width: 45%;
                border: 2px solid #1D4162;
                border-radius: 5px;
                padding:  20px 10px;
                gap: 10px;
                .head{
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    font-weight: bolder;
                    color: white;
                    
                    
                }
                
                .text{
                    p{
                        text-align: justify;
                        font-size: 14px;
                        color: gray
                    }
                }
            }
        }
    }
}